@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

body {
    background-color: rgb(245, 244, 241);
    overflow-x: hidden;
}

#sections {
    position: relative;
    display: inline-block;
    width: 400px;
    top: 60px;
    z-index: 90;
    margin-right: 50px;
    margin-left: 15%;
}

#step1 {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;*/ 
}

#step2 {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;*/ 
}

#step3 {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;*/ 
}

#step4 {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;*/ 
}

#step5 {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;*/ 
}

#step6 {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;*/ 
}

#step7 {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;*/ 
}

h1, h2 {
    font-weight: 700;
    text-align: right;
    line-height: 32px;
}

h1 {
    font-size: 35px;
}

#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    height: 1000px;
    width: 1000px;
}

a {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

nav {
    background-color: #282828;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    transform: translateX(-200px);
    transition: transform 0.3s ease-in-out;
  }

nav.active {
    transform: translateX(0);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

nav li {
    margin: 0;
    flex-grow: 1;
}

nav a {
    display: block;
    padding: 0;
    margin-top: 100px;
    color: #F4F4F4;
    font-family: "Domine";
    text-decoration: none;
}

nav a:hover {
    background-color:#3b3b3b;
    color: #F4F4F4;
}

#menu-toggle {
    position: fixed;
    top: 20px;
    left: 30px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #282828;
    cursor: pointer;
    z-index: 9999;
}
 
#menu-toggle.active {
    color: #F4F4F4;
}
  